#red-ui-workspace {
    background-image:url(/resources/fvonprem-nodes/images/refined_motion_logo.png);
    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
}
