#fvCamForm .form-row { display: flex; align-items: center; position: relative;    }
#allCamRefreshBtn { background: #c29311; border:none; color: #ffffff!important; margin-left:5px; }
#allCamRefreshBtn:disabled { background: rgba(73, 69, 69, 0.87); color: #ccc!important; }

#fvCamForm input:disabled, #fvCamForm select:disabled, #fvCamForm textarea:disabled, #fvCamForm button:disabled {
    opacity:.5
}

#fvCamForm .loading {
    position:relative;
    box-sizing: border-box;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#fvCamForm .loading::after {
    content:'';
    position: absolute;
    left:50%;
    border: 4px solid #a8a8a8; /* Light grey */
    border-top: 4px solid #5eb7f5; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    opacity:.5
}
